Makefile
Makefile.in
*~
*.o
*.lo
*.la
.libs
.deps
CMakeCache.txt
CMakeFiles
*.cmake
progress.make
aclocal.m4
autom4te.cache
config.guess
config.sub
configure
autogen.err
missing
ltmain.sh
install-sh
depcomp