Makefile
Makefile.in
*~
*.o
*.lo
*.la
.libs
.deps
.AppleDouble
:2e_*
CMakeCache.txt
CMakeFiles
*.cmake
stamp-*
progress.make
aclocal.m4
autom4te.cache
config.guess
config.sub
config.log
config.status
config.h.in
config.h
configure
autogen.err
missing
ltmain.sh
libtool
install-sh
depcomp
*.pc
demo/ccfa
demo/cfa
demo/gdk
demo/extensions
demo/pixbufload
demo/ppmload
lib/io/teststream
test/ljpegtest
test/extensions
test/testunpack
testsuite/test_xmlhandler
testsuite/testsuitetags.h
testsuite/testsuitetags.cpp
testsuite/testsuite
