Makefile
Makefile.in
*~
*.o
*.lo
*.la
.libs
.deps
.dirstamp
.AppleDouble
:2e_*
CMakeCache.txt
CMakeFiles
*.cmake
stamp-*
progress.make
aclocal.m4
autom4te.cache
config.guess
config.sub
config.log
config.status
config.h.in
config.h
configure
autogen.err
missing
ltmain.sh
libtool
install-sh
depcomp
*.pc
demo/ccfa
demo/cfa
demo/gdk
demo/extensions
demo/pixbufload
demo/ppmload
lib/teststream
lib/*.log
lib/*.trs
lib/mp4/target
test/ljpegtest
test/extensions
test/testunpack
test/testoption
test/missingcoefficients
test/*.log
test/*.trs
testsuite/test_xmlhandler
testsuite/testsuitetags.h
testsuite/testsuitetags.cpp
testsuite/testsuite
testsuite/*.log
testsuite/*.trs

lib/mp4/mp4parse_capi/Cargo.lock
lib/mp4/mp4parse/tests/bipbop_cbcs_audio_init.mp4
lib/mp4/mp4parse/tests/bipbop_cbcs_video_init.mp4
lib/mp4/mp4parse/tests/metadata.mp4
lib/mp4/mp4parse/tests/metadata_gnre.mp4
lib/mp4/mp4parse/tests/tiny_av1.mp4
