Source: libopenraw
Section: libs
Priority: extra
Maintainer: Hubert Figuiere <hub@figuiere.net>
Build-Depends: debhelper (>> 5.0.0), cdbs (>= 0.4.30), libboost-dev (>= 1.33), libjpeg62-dev, libgtk2.0-dev
Standards-Version: 3.7.2


Package: libopenraw-dev
Section: libdevel
Depends: libopenraw1 (= ${Source-Version})
Architecture: any
Description: A library to open camera RAW files. (Development files)
 libopenraw is a library to parse and process digital camera RAW
 files.

Package: libopenraw1-dbg
Architecture: any
Depends: libopenraw1 (= ${Source-Version})
Description: A library to open camera RAW files. (Debug files)
 libopenraw is a library to parse and process digital camera RAW
 files.


Package: libopenraw1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: A library to open camera RAW files. (Library files)
 libopenraw is a library to parse and process digital camera RAW
 files.

Package: libopenrawgnome-dev
Section: libdevel
Architecture: any
Depends: libopenraw-dev (= ${Source-Version}), libopenrawgnome1 (= ${Source-Version})
Description: A library to open camera RAW files. (Development files for Gnome)
 libopenraw is a library to parse and process digital camera RAW
 files.

Package: libopenrawgnome1-dbg
Architecture: any
Depends: libopenrawgnome1 (= ${Source-Version})
Description: A library to open camera RAW files. (Debug files for Gnome)
 libopenraw is a library to parse and process digital camera RAW
 files.


Package: libopenrawgnome1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: A library to open camera RAW files. (Library files for Gnome)
 libopenraw is a library to parse and process digital camera RAW
 files.
